# Abhängigkeiten
node_modules/

# Build-Output
dist/
dist-ssr/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Vite
*.local
.vite/

# Umgebungsvariablen
.env
.env.*
!.env.example

# Editor
.vscode/
.idea/
*.swp
*.swo

# Archive
*.zip
*.tar.gz
*.rar

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
